.footer {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--playfair-color);
    text-transform: uppercase;
    color: var(--secondary-color);
    cursor: pointer;
}

.footer__logo span {
    color: var(--primary-color);
}

.footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;
    padding: 0;
    margin: 0;
}

.footer ul:last-child {
    gap: 32px;
}

.footer__nav li {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    text-transform: uppercase;
    color: var(--secondary-color);
    cursor: pointer;
}

.footer__social li {
    width: 42px;
    height: 42px;
    background-color: var(--secondary-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social li img {
    width: 45%;
    height: 45%;
    object-fit: contain;
}

/* Адаптивность */
@media (max-width: 1024px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer ul {
        gap: 32px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__nav li {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 20px;
    }

    .footer__logo {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer ul {
        gap: 20px;
    }

    .footer__nav li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px;
        gap: 10px;
    }

    .footer__logo {
        font-size: 18px;
        text-align: center;
    }

    .footer ul {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .footer__social li {
        width: 36px;
        height: 36px;
    }

    .footer__nav li {
        font-size: 12px;
    }
}
