.subscription {
    padding: 64px;
    background-color: var(--primary-color);
    background-image: url(../../assets/subscribe_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    overflow: hidden;
}

.subscription h2 {
    font-size: 88px;
    font-family: var(--playfair-display);
    font-weight: 600;
    line-height: 123px;
    color: #fff;
    text-align: center;
}

.subscription p {
    font-size: 18px;
    font-family: var(--plus-jakarta-sans);
    font-weight: 300;
    line-height: 36px;
    margin-top: 32px;
    color: rgb(255, 255, 255, 0.8);
}

.subscription__form {
    min-width: 480px;
    margin-top: 40px;
    padding: 14px 14px 14px 24px;
    display: flex;
    gap: 10px;
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.subscription__form input {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    opacity: 0.5;
    background: transparent;
    border: none;
    outline: none;
}

.subscription__form input::placeholder {
    color: #fff;
    opacity: 0.5;
}

.subscription__form button {
    padding: 20px;
    min-width: 180px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    text-align: center;
    background: var(--black-400);
    border-radius: 46px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Медиазапросы для мобильных устройств и планшетов */

/* Для устройств с экраном меньше 1024px (планшеты и мобильные устройства) */
@media (max-width: 1024px) {
    .subscription h2 {
        font-size: 56px;
        line-height: 75px;
    }

    .subscription p {
        font-size: 16px;
    }

    .subscription__form {
        min-width: 100%;
        flex-direction: column;
        padding: 12px;
    }

    .subscription__form input {
        font-size: 14px;
    }

    .subscription__form button {
        min-width: 150px;
        padding: 16px;
    }
}

/* Для мобильных устройств с экраном меньше 768px */
@media (max-width: 768px) {
    .subscription h2 {
        font-size: 48px;
        line-height: 65px;
    }

    .subscription p {
        font-size: 14px;
    }

    .subscription__form {
        min-width: 100%;
        flex-direction: column;
        padding: 12px;
    }

    .subscription__form input {
        font-size: 14px;
    }

    .subscription__form button {
        min-width: 140px;
        padding: 14px;
    }
}

/* Для мобильных устройств с экраном меньше 480px */
@media (max-width: 480px) {
    .subscription h2 {
        font-size: 36px;
        line-height: 50px;
    }

    .subscription p {
        font-size: 12px;
    }

    .subscription__form {
        min-width: 100%;
        flex-direction: column;
        padding: 10px;
    }

    .subscription__form input {
        font-size: 12px;
    }

    .subscription__form button {
        min-width: 120px;
        padding: 12px;
    }
}
